<app-create (addedCharacter)="onCharacterWasAdded($event)"></app-create>
<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{active: choosenList == 0}" (click)="onChoose(0)" style="cursor: pointer;"><a>All</a></li>
  <li role="presentation" [ngClass]="{active: choosenList == 1}" (click)="onChoose(1)" style="cursor: pointer;"><a>Light</a></li>
  <li role="presentation" [ngClass]="{active: choosenList == 2}" (click)="onChoose(2)" style="cursor: pointer;"><a>Dark</a></li>
</ul>
<app-list [characters]="getCharacters()" [choosenList]="choosenList" (newSide)="setNewSide($event)"></app-list>
